**/node_modules/

# Environment variables
.env

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Output folders
output/
praj/ai-engine/output/

# VS Code
.vscode/
node_modules/

# OS files
.DS_Store
Thumbs.db